#presentacion{
    margin: 15px !important;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
}

h3{
    color: cornflowerblue;
}